<%-include("../layout/head.ejs", {title: "Giỏ Hàng"})%>
<%-include("../layout/header.ejs")%>
<%-include("../layout/sidebar.ejs")%>


	
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Danh sách giỏ hàng</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Danh sách giỏ hàng</h1>
			</div>
		</div><!--/.row-->
        <div id="toolbar" class="btn-group">
            <a class="btn btn-danger" onclick="deleteSelected()">
                <i class="glyphicon"></i> Xóa mục đã chọn
            </a>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
          <form action="/admin/orders/delete-selected" id="selectForm" method="post">
          <table data-toolbar="#toolbar" data-toggle="table">
            <thead>
              <tr>
                <th data-field="checkbox" data-sortable="true"></th>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">
                  <p style="text-align: center;">Thông tin người dùng</p>
                </th>
                <th data-field="product" data-sortable="true">Tên sản phẩm</th>
                <th data-field="quantity" data-sortable="true">Số lượng</th>
                <th data-field="price" data-sortable="true">Đơn giá</th>
                <th data-field="total" data-sortable="true">Tổng tiền</th>
                <th data-field="action" data-sortable="true">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% for (let order of orders) { %>
    <% for (let orderDetail of order.items) { %>
    <tr>
      <% if (orderDetail == order.items[0]) { %>
      <td rowspan="<%= order.items.length %>">
        <input type="checkbox" class="myCheckbox" data-id="<%= order._id.toString() %>">
      </td>
      <td rowspan="<%= order.items.length %>"><%=count++%></td>
      <td rowspan="<%= order.items.length %>">
        <ul>
          <li>Họ tên: <%= order.full_name %></li>
          <li>Phone: <%= order.phone %></li>
          <li>Address: <%= order.address %></li>
          <li>Email: <%= order.email %></li>
        </ul>
      </td>
      <% } %>
      <td><span><%= orderDetail.name %></span></td>
      <td><span><%= orderDetail.qty %></span></td>
      <td><span><%= formatPrice(orderDetail.price) %></span></td>
      <% if (orderDetail == order.items[0]) { %>
      <td rowspan="<%= order.items.length %>"><span><%= formatPrice(order.total_price) %></span></td>
      <td rowspan="<%= order.items.length %>" class="form-group">
        <%if(userValidate.role == "admin"){%>
          <a href= "/admin/orders/approved-<%=order._id%>" class="btn <%=order?.confirmed?'btn-success':'btn-warning'%>"><%=order?.confirmed?"Đã xác nhận":"Chưa xác nhận"%> <i class="glyphicon glyphicon-ok"></i></a>
          <a onclick="deleteOne('<%=order._id%>')"class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
        <%}%>
                </td>

                <% } %>
        <td rowspan="<%=order.items.length%>" style="vertical-align: middle">
          <input class="selected-unbox" type="checkbox" name="selectedOrders[]" value="<%= order._id %>">
        </td>
    </tr>
    <% } %>
    <% } %>
    </tbody>
    </table>
 </form>
                    </div>
                        <%-include("../layout/select.ejs", {router: "orders"})%>

                    <div class="panel-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <%if(page >1){%>
                                <li class="page-item"><a class="page-link" href="/admin/orders?page=<%=page-1%>">&laquo;</a></li>
                                <%}%>
                                <%for(let num of pages){%>
                                    <%if(num==="..."){%>
                                        <li class="page-item <%=num===page?'active':''%>"><span><%=num%></span></li>
                                    <%}
                                    else{%>
                                        <li class="page-item <%=num===page?'active':''%>"><a class="page-link" href="/admin/orders?page=<%=num%>"><%=num%></a></li>
                                    <%}%>
                                
                                <%}%>
                                <%if(page<totalPages){%>
                                <li class="page-item"><a class="page-link" href="/admin/orders?page=<%=page+1%>">&raquo;</a></li>
                                <%}%>
                            </ul>
                        </nav>
                    </div>
				</div>
			</div>
		</div><!--/.row-->	
	</div>	<!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>
<%-include("../layout/footer.ejs")%>
